/*General Styles*/

.info-label {
  font-size: var(--fs-200);
  opacity: 0.8;
  font-style: italic;
}


/*Spacing*/

.m-top {
  margin-top: 2rem;
}

@media (min-width: 40em) {
  .m-top {
    margin-top: 3rem;
  }
}
@media (min-width: 88em) {
  .m-top {
    margin-top: 3.5rem;
  }
}


/*HERO*/

/*AccuBooks INFO*/

.accubooks-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  gap: 0.5em;
}

.info-link {
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: var(--clr-accent-300);
  padding: 0.65em 1em;
  margin-right: auto;
  transition: all ease-in-out .3s;
  text-transform: none;
}

.info-link:hover,
.info-link:focus {
  background-color: var(--clr-hover-primary);
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

/*AccuBooks-why*/
.accubooks-why {
  gap: 2rem;
}

.accubooks-why-img {
  width: 10rem;
  height: 10rem;
}

@media (min-width: 31em) {
  .info-grid {
    grid-template-columns: 1fr 1fr;
  }

  .accubooks-why-content  {
    max-width: 28ch;
  }
}

@media (min-width: 40em) {
  .accubooks-why {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 57em) and (max-width: 61.9em) {
  .accubooks-why-content  {
    max-width: 50ch;
  }
}

@media (min-width: 70em) {
  .accubooks-why-content  {
    max-width: 40ch;
  }
}

@media (min-width: 80em) {
  .info-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 88em) {
  .accubooks-info {
    display: flex;
    gap: 0.5em;
  }

  .accubooks-why-content  {
    max-width: 50ch;
  }
}

/*AccuBooks RESEARCH*/

.research-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

@media (min-width: 40em) {
  .research-content {
    max-width: 55ch;
  }
}

@media (min-width: 62em) {
  .research-content {
    max-width: unset;
    margin: unset;
    margin-top: 1rem;
  }
}

@media (min-width: 70em) {
  .research-content {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}


/*PERSONA*/

.persona-headings p {
  margin-bottom: 2rem;
}

.persona-checks,
.persona-cross {
  gap: 1rem;
  align-items: flex-start;
}

.persona-checks li,
.persona-cross li {
  gap: 1rem;
}

.persona-checks li .bi,
.persona-cross li .bi {
  color: #10954e;
  align-self: flex-start;
}

.persona-cross li .bi {
  color: var(--clr-hover-secondary);
}

/*Persona card*/
.persona-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  overflow-x: auto
}

.persona-grid > * { 
  min-width: 0; 
}

.persona-card .info-label {
  margin-bottom: 1rem;
}

.persona-img-wrapper {
  justify-self: center;
}

.persona-img-wrapper img {
  /*width: 100%;*/
  height: auto;
}

.persona-img-wrapper figcaption {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-300);
  line-height: 1;
  opacity: 0.7;
  padding: .3rem 1rem;
}

.persona figcaption span {
  font-size: var(--fs-200);
  font-style: italic;
  opacity: 0.9;
  margin-top: -3px;
}

.persona .persona-card-content {
  border-radius: 4px;
  background-color: var(--clr-neutral-100);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
  padding: 1.5rem;
}

.persona-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: var(--fw-600);
  margin-bottom: 1rem;
}

@media (min-width: 30em) {
  .persona-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .persona-img-wrapper  {
    grid-column: 1 / 2;
    grid-row: 1 /3;
  }
  
  .goals {
    grid-column: 2 / -1;
    grid-row: 1 /2;
    align-self: center;
  }

  .cross {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    align-self: center;
  }

  .persona-card {
    grid-column: 1 / -1;
  }
}

@media (min-width: 30em) and (max-width: 35em) {
  .persona-img-wrapper  {
    align-self: center;
  }
}

@media (min-width: 40em) and (max-width: 44.9em) {
  .persona-card {
    margin-top: 1.5rem;
  }
}

@media (min-width: 40em) and (max-width: 87.9em) {
  .persona-grid {
    row-gap: 1rem;
    column-gap: 1.5rem;
  }
  .goals {
    align-self: end;
  }

  .cross {
    align-self: start;
  }
}

@media (min-width: 45em) {
  .persona-grid {
    row-gap: 2.5rem;
  }
}

@media (min-width: 48em) {
  .persona-info {
    flex-direction: row;
    gap: 3rem;
  }
  
  .goals {
    grid-column: 2 / -1;
    grid-row: 1 /2;
  }

  .cross {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
  }
}

@media (min-width: 62em) {
  .persona-grid {
    row-gap: 1rem;
  }

  .goals,
  .cross {
    grid-column: 2 / -1;
  }
}

@media (min-width: 62em) and (max-width: 64em) {
  .persona-img-wrapper {
    align-self: center;
  }
}

@media (min-width: 64em)  {
  .persona-grid {
    row-gap: 3rem;
  }
}

@media (min-width: 72em) {
  .persona-grid {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
  }
}

@media (min-width: 87em) {
  .persona > p {
    max-width: 55ch;
  }

  .persona-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20rem 23rem;
    grid-template-areas: 
    "persona-img goals cross"
    "persona-img persona-card persona-card";
    gap: 1.5rem;
  }

  .persona-img-wrapper {
    grid-area: persona-img;
    align-self: center;
  }
 
  .goals {
    grid-area: goals;
    align-self: start;
    padding-top: 1.5rem;
  }

  .cross {
    grid-area: cross;
    align-self: start;
    padding-top: 1.5rem;
  }

  .persona-card {
    grid-area: persona-card;
    align-self: center;
  }
}

@media(min-width: 87.5em) {
  .persona-card {
    grid-area: persona-card;
    align-self: center;
    margin-top: -65px;
  }
}

/*SITEMAP*/

.sitemap-headings {
  max-width: 73ch;
}

.sitemap .info-label {
  margin: 2rem 0 1rem 0;
}

@media (min-width: 62em) {
  .sitemap .info-label {
    margin: 2.5rem 0 1rem 0;
  }
}


/*WIREFRAMES*/

.wireframes-headings {
  max-width: 72ch;
}

/*UI DESIGN*/

.designs-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  overflow-x: auto
}

.ui-design .design-headings {
  margin-bottom: 1.5rem;
}

.ui-design p,
.ui-design .design-headings p {
  max-width: 72ch;
}

.ui-design .brand-list:nth-of-type(1) {
  padding-top: 1rem;
}

.ui-design .brand-list:nth-of-type(2) {
  padding-bottom: 1rem;
}

.ui-design .alphabet {
  font-weight: var(--fw-700);
  padding: 1rem 0;
}

.ui-design .brand-list {
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

.ui-design .brand-list li {
  font-weight: var(--fw-700);
}

.ui-design .color-palette {
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1.5rem 0;
}

.ui-design .circle,
.accessibility .circle {
  width: 2.75rem;
  height: 2.75em;
  border-radius: 50%;
}

.ui-design .orange {
  background-color: #ff5f05;
}

.blue {
  background-color: #316ce3;
}

.grey {
  background-color: #F7F7F7;
  border: 0.2px solid var(--clr-neutral-300);
}

.white {
  background-color: #ffffff;
  border: 0.2px solid var(--clr-neutral-300);
}

.black {
  background-color: #2B2E34;
}

.red {
  background-color: #B70D0D;
}

.ui-design .imagery-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.ui-design .imagery-content a {
  color: #043f82;
  text-decoration: underline;
}

.ui-design .imagery-img-wrapper  {
  justify-self: center;
  
}

.ui-design .design-img-label {
  margin-bottom: 1.5rem;
}

.design-examples {
  margin-top: 2.5rem;
}

@media (min-width: 48em) {
  .designs-container {
    display: grid;
    gap: 2rem;
  }

  .ui-design .design-headings {
    margin-bottom: 2.5rem;
  }
  
  .ui-design .imagery-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ui-design .brand-list {
    gap: 3rem;
  }

  .design-examples {
    margin-top: 3.5rem;
  }
}


/*ACCESSIBILITY*/

.accessibility {
  display: grid;
  gap: 3.5rem;
}

.original-circles {
  gap: 1.5rem;
}

.original-circles .circle {
  margin-top: -10px;
}

.color-wrapper {
  gap: 1rem;
}

.original-colors,
.pass-colors {
  align-items: flex-start;
  gap: 1rem;
} 

.accessibility-standards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.orange-original {
  background-color: #FF884C;
}

.blue-original {
  background-color: #457AE6;
}

.orange-pass {
  background-color: #FF5F0F;
}

.blue-pass {
  background-color: #316CE3;
}

.wcag {
  font-weight: var(--fw-700);
}

.accessibility-text p {
  max-width: 70ch;
}


@media (min-width: 48em) {
  .original-circle {
    gap: 3rem;
  }

  .accessibility-standards {
    grid-template-columns: 1fr 1fr;
  }

  .accessibility-text {
    justify-self: center;
    max-width: 60ch;
    margin-top: 2rem;
  }
}


/*DEVELOPMENT*/
.accubooks-development {
  display: grid;
  gap: 1.5rem;
}

.accubooks-development .process-list {
  align-items: flex-start;
  gap: 2rem;
  list-style: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

.accubooks-development .process-list li {
  max-width: 60ch;
}

.process-list a {
  color: #043f82;
  text-decoration: underline;
}

.accubooks-development .queries-list {
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

.accubooks-development .queries-list li {
  max-width: 60ch;
}

.accubooks-development .media-process {
  margin-top: 1rem;
}

.dev-process-img-wrapper {
  justify-self: center;
}

.dev-process-img-wrapper img {
  margin-top: 4rem;
}

@media (min-width: 48em) {
  .accubooks-development .process-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 3rem;
  }
}

@media (min-width: 88.5em) {
  .accubooks-development .process-list li {
    max-width: 35ch;
  }
}


/*RESULTS*/

.accubooks-results a {
  color: #043f82;
  text-decoration: underline;
}


/*CTA*/

.accubooks-project-cta .cta-container {
 align-items: flex-start;
}


.accubooks-project-cta .btn-large {
  margin-left: 0;
}



